# Ambiente virtual
.venv/

# Variáveis de ambiente e segredos
.env

# Cache do Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Testes/cache
.pytest_cache/